.workExperience-info {
   padding: 10px;

   li {
     // list-style: circle;
     color: var(--primary-color);
   }
   h3 {
     font-weight: normal;
     color: var(--primary-color);
     font-size: 18px;
     padding-bottom: 10px;
     display: inline-block;
   }

   .content {
     font-size: 16px;
     line-height: 1.2;
   }
}
