.za-popup {
  width: 320px;
  box-shadow: 0px 0px 22px 0px rgba(50, 50, 50, 0.75);
}

.popup-box {
  padding: 60px 15px;
  overflow-y: SCROLL;
  height: 100vh;
}

.form-item {
  // display: flex;
  // height: 44px;
  // line-height: 44px;
  label {
    padding-right: 10px;
    height: 32px;
    line-height: 32px;
    display: block;
    width: 100%;
  }

  textarea {
    // height: 32px;
    padding: 6px;
    border: 1px soild #e1e1e1;
    flex: 1;
  }

  &-group {
    border-bottom: 1px dashed #E1E1E1;
    margin-bottom: 10px;
  }
}

.btn {
  background: transparent;
  border: 1px solid #e1e1e1;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}

.close-btn {
  background: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  &:hover {
    background: #e1e1e1
  }
}
