.title {
  font-size: 21px;
  line-height: 32px;
  height: 44px;
  font-weight: 500;
  // padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
  color: #607d8b;
}

.icon  {
  width: 32px;
  height: 32px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: -6px;

  img {
    width: 32px;
    height: 32px;
  }
}
