* {
  margin: 0;
  padding: 0;
  font-family:  "Museo Sans", "Arial", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Oxygen", "Helvetica Neue", "sans-serif";
  box-sizing: border-box;
}

html, body {
  // overflow: hidden;
  color: #666;
}

#app {
  width: 960px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  background: #fff;
}

aside {
  width: 300px;
  background-color: #f5f5f5;
  padding: 40px 20px;
}

main {
  padding-top: 40px;
  flex: 1;
  margin-left: 40px;
}

.module {
  margin-bottom: 20px
}
